

<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Rommel Jay Gadil</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/myimage.jpg' %}" >
					<hr>
					<h4>Hi I'm Rommel!</h4>
					<p>I love coding, doing research and collaborating</p>
					<ul class="social-links">
						<li><a href="https://www.facebook.com/rommelgadil.anonimouse"><img class="social" src="{% static 'images/facebook.png' %}"></a></li>
						<li><a href="https://www.linkedin.com/in/rjsg/"><img class="social" src="{% static 'images/linkedin.png' %}"></a></li>

					</ul>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>My First Job as a Tech Startup Founder</h4>
					<hr>
					<p>On my 2nd year in college as a Bachelor of Science in Computer Engineering student, I have created small applications for our school organization. Then, I learned about Microcontroller and was able to become one of the country's pioneer in developing Arduino projects.</p>

					<p>I then founded Anonimouse and started my first training session last May 2018. Now we have trained 1000+ participants.</p>
					<a href="https://www.anonimouse.tech"><p>Click me to learn more about Anonimouse. </a>
					<p>Today, we cater not only Arduino but also other training and product development.</p>



				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Founder</h5>
					<hr>
					<p>General Manager at Anonimouse</p>
					<p>I deal with Business clients, in B2B or B2C model. I also prepare necessary and legal documents for a certain project. Also, I spearhead the development and provide technical training.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Programming Languages: Python, C#, Java, C/C++, Dart. For Web Development: HTML,CSS,JavaScript</p>
					<p>General: PC Troubleshooting, Basic Networking, Electronics, 3D Design, Microsoft Office, Photoshop </p>
					<p>Working on: Penetration Testing and Cybersecurity</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Reverse Engineer & Build Ugly Prototypes First.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Long Term Goals</h5>
				<hr>
				<p>To finish my graduate studies and earn doctoral degree.</p>
				<p>To be part of an amazing company where I can fully contribute my talent and skills.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>